$primary-color: #ef0303;
$secondary-color: #2c6e59;

$white: #fff;
$black: #191919;
$light-black: #3e3e3e;
$red: #ef0303;
$gray: #7f7f7f;
$light-gray: #606060;

$font-bold: 'Acumin-Pro-Book';
$font-Light: 'Acumin-Pro-Light';
$font-Semibold: 'Acumin-Pro-Semibold';
$font-Arabic: 'ArbFONTS';
